@media screen and (min-width: 320px) and (max-width: 416px) {
  .profile .profile-overview .labels {
    font-size: 12px;
    font-weight: 500;

  }

  .profile .profile-overview .label {
    font-size: 12px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
  }

  .nav-tabs-bordered {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .profile .profile-card .social-links a {
    font-size: 14px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
  }

  .profile .profile-card h3 {
    text-align: center;
    font-size: 16px;
  }

  .profile .profile-card h6 {
    text-align: center;
    font-size: 14px;
  }

  /* .profile .profile-card img {
    max-width: 47px;
  } */

  button.btn.follow-btn {
    font-size: 11px;
    background: #F61C7A;
    color: #fff;
    font-weight: 700;
  }

  .nav-tabs-bordered .nav-link {
    font-size: 12px;
    margin-bottom: -2px;
    border: none;
    color: #2c384e;
  }

  .nav-tabs-bordered .nav-link.active {
    font-size: 12px;
    background-color: #fff;
    color: #4154f1;
    border-bottom: 2px solid #4154f1;
  }

  .percent {
    font-size: 8px;
    font-weight: 600;
    color: #3500D4;
  }

  .detail {
    font-size: 10px;
    font-weight: 600;
    color: #03314B;
  }

  .club-icon {
    padding-right: 2px;
    padding-left: 0px;
    font-size: 9px;
    color: #F61C7A;
  }

  .user_name {
    font-size: 12px;
    font-weight: 700;
    color: #496333;
  }

  span.club-inf {
    font-size: 8px;
    font-weight: 600;
    color: #979797;
  }

  .user-icon {
    font-size: 30px;
    color: #FDCDE7;
  }

  .risk-btn {
    font-size: 9px;
    padding: 6px 4px;
    color: #03314B;
    border-radius: 2px;
    background: #DEF4FF;
  }

  .price {
    font-size: 9px;
    font-weight: 600;
    color: #03314B;
    padding: 0 !important;
    margin: 0 !important;
  }

  .club-icons {
    justify-content: center;
  }

  .card-title {
    padding: 20px 0 15px 0;
    font-size: 12px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
  }

  .trending-name {
    font-size: 12px;
  }

  span.title-name {
    font-size: 12px;
    font-weight: 600;
    color: black;
  }

  .hashtag-line {
    font-size: 12px;
    color: #4D455D;
  }

  .hashtag {
    font-size: 12px;
    color: #0081C9;
  }

  .pagetitle h1 {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
  }

  .channel-name {
    font-size: 7px;
    font-weight: 600;
    color: #F61C7A;
  }

  .fol {
    font-size: 12px;
  }

  .prices {
    font-size: 9px;
    font-weight: 600;
    color: #496333;
    margin: 0;
  }

  h6.heading {
    font-size: 13px;
    font-weight: 600;
    color: #496333;
    margin: 0;
    padding: 0;
  }

  span.subscript {
    padding: 6px;
    border: 2px solid #FFD859;
    border-radius: 36px;
    font-size: 9px;
    font-weight: 600;
  }

  .club-dis {
    font-size: 10px;
    color: #496333;
    font-weight: 600;
  }

  .risks-btn {
    padding: 5px;
    color: #03314B;
    border-radius: 5px;
    background: #FDCDE7;
    font-size: 12px;
  }

  .position-btn {
    padding: 6px;
    color: black;
    border-radius: 5px;
    background: #FDCDE7;
    font-size: 10px;
  }

  .heading-line {
    color: #4D455D;
    font-size: 15px;
  }

  .user-icon {
    font-size: 30px;
    color: #FDCDE7;
  }
}

@media screen and (min-width: 415px) and (max-width: 501px) {
  .profile .profile-overview .labels {
    font-size: 12px;
    font-weight: 500;

  }

  .profile .profile-overview .label {
    font-size: 12px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
  }

  .nav-tabs-bordered {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .profile .profile-card .social-links a {
    font-size: 14px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
  }

  .profile .profile-card h6 {
    text-align: center;
    font-size: 14px;
  }

  .profile .profile-card h3 {
    text-align: center;
    font-size: 16px;
  }

  /* .profile .profile-card img {
    max-width: 47px;
  } */

  button.btn.follow-btn {
    font-size: 11px;
    background: #F61C7A;
    color: #fff;
    font-weight: 700;
  }

  .nav-tabs-bordered .nav-link {
    font-size: 12px;
    margin-bottom: -2px;
    border: none;
    color: #2c384e;
  }

  .nav-tabs-bordered .nav-link.active {
    font-size: 12px;
    background-color: #fff;
    color: #4154f1;
    border-bottom: 2px solid #4154f1;
  }

  .percent {
    font-size: 10px;
    font-weight: 600;
    color: #3500D4;
  }

  .detail {
    font-size: 12px;
    font-weight: 600;
    color: #03314B;
  }

  .user-icon {
    font-size: 35px;
    color: #FDCDE7;
  }

  .user_name {
    font-size: 12px;
    font-weight: 700;
    color: #496333;
  }

  .club-icon {
    padding-right: 1px;
    padding-left: 1px;
    font-size: 10px;
    color: #F61C7A;
  }

  span.club-inf {
    font-size: 10px;
    font-weight: 600;
    color: #979797;
  }

  .risk-btn {
    font-size: 9px;
    padding: 6px 4px;
    color: #03314B;
    border-radius: 2px;
    background: #DEF4FF;
  }

  .risks-btn {
    padding: 5px;
    color: #03314B;
    border-radius: 5px;
    background: #FDCDE7;
    font-size: 12px;
  }

  .position-btn {
    padding: 6px;
    color: black;
    border-radius: 5px;
    background: #FDCDE7;
    font-size: 10px;
  }

  .price {
    font-size: 10px;
    font-weight: 600;
    color: #03314B;
    padding: 0 !important;
    margin: 0 !important;
  }

  .prices {
    font-size: 9px;
    font-weight: 600;
    color: #496333;
    margin: 0;
  }

  .card-title {
    padding: 20px 0 15px 0;
    font-size: 12px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
  }

  .trending-name {
    font-size: 12px;
  }

  span.title-name {
    font-size: 12px;
    font-weight: 600;
    color: black;
  }

  .hashtag-line {
    font-size: 12px;
    color: #4D455D;
  }

  .hashtag {
    font-size: 12px;
    color: #0081C9;
  }

  .pagetitle h1 {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
  }

  .channel-name {
    font-size: 11px;
    font-weight: 600;
    color: #F61C7A;
  }

  .fol {
    font-size: 12px;
  }

  h6.heading {
    font-size: 13px;
    font-weight: 600;
    color: #496333;
    margin: 0;
    padding: 0;
  }

  span.subscript {
    padding: 6px;
    border: 2px solid #FFD859;
    border-radius: 36px;
    font-size: 9px;
    font-weight: 600;
  }

  .club-dis {
    font-size: 10px;
    color: #496333;
    font-weight: 600;
  }

  .heading-line {
    color: #4D455D;
    font-size: 15px;
  }

  .user-icon {
    font-size: 30px;
    color: #FDCDE7;
  }
}


@media screen and (min-width: 500px) and (max-width: 769px) {
  .profile .profile-overview .labels {
    font-size: 16px;
    font-weight: 500;

  }

  .profile .profile-overview .label {
    font-size: 14px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
  }

  .nav-tabs-bordered {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .profile .profile-card .social-links a {
    font-size: 16px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
  }

  .profile .profile-card h6 {
    text-align: center;
    font-size: 14px;
  }

  .profile .profile-card h3 {
    text-align: center;
    font-size: 16px;
  }

  /* .profile .profile-card img {
    max-width: 70px;
  } */

  button.btn.follow-btn {
    font-size: 13px;
    background: #F61C7A;
    color: #fff;
    font-weight: 700;
  }

  .nav-tabs-bordered .nav-link {
    font-size: 14px;
    margin-bottom: -2px;
    border: none;
    color: #2c384e;
  }

  .nav-tabs-bordered .nav-link.active {
    font-size: 14px;
    background-color: #fff;
    color: #4154f1;
    border-bottom: 2px solid #4154f1;
  }

  .club-icon {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 14px;
    color: #F61C7A;
  }

  span.club-inf {
    font-size: 12px;
    font-weight: 600;
    color: #979797;
  }

  .risk-btn {
    font-size: 12px;
    padding: 14px 10px;
    color: #03314B;
    border-radius: 5px;
    background: #DEF4FF;
  }

  .price {
    font-size: 14px;
    font-weight: 600;
    color: #03314B;
    padding: 0 !important;
    margin: 0 !important;
  }

  .card-title {
    padding: 20px 0 15px 0;
    font-size: 14px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .club-icon {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 14px;
    color: #F61C7A;
  }

  span.club-inf {
    font-size: 12px;
    font-weight: 600;
    color: #979797;
  }

  .price {
    font-size: 14px;
    font-weight: 600;
    color: #03314B;
    padding: 0 !important;
    margin: 0 !important;
  }

  .card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
  }
}

.disabled {
  background-color: #e9ecef;
  opacity: 1;
  pointer-events: none;
}

.edit-icon {
  position: relative;
  left: -25px;
  font-size: 20px;
  color: #2c2a2a;
}

.cstm-file {
  display: contents;
}

.rounded-circle {
  height: 116px;
  width: 200px;
  object-fit: cover;
  border-radius: 88px;
  padding: 5px 9px;
}