.input-group-text {
    display: flex;
    align-items: center;
     padding: 0.375rem 0.75rem; 
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    /* background-color: #e9ecef; */
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
  }
  
  .country-option {
    width: 17%;
  }

  label.form-check-label {
    font-size: 12px;
}
span.login-line {
  color: blue;
}

label.form-label {
  color: #F61C7A;
}

.card{
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-header{
  color: #03314B !important;
  background: #dae1f7 !important;
  text-align: center;
}

.card-header > img{
  width: 180px;
}

.input-container input{
  width: 40px;
  height: 40px;
}

.form-control:focus{
  box-shadow: none !important;
  border: 1px solid #3366FF !important;
}

.verify-btn{
  border-radius: 20px !important;
  border: 0px !important;
  width: 140px;
  background-color: #3366FF !important;
}

.Resend-btn{
  border-radius: 20px !important;
  border: 1px solid #F61C7A!important;
  width: 140px;
 color: #F61C7A;
}
