

    <div class="pagetitle">
      <h1 class="px-3"><i class="bi bi-arrow-left px-2"></i>Upgraded plans</h1>

    </div><!-- End Page Title -->
    <section class="section">
      <h1 class="demo-title">
        Upgraded plans<br>
      </h1>
      <div class="pricing-table">
        <div class="ptable-item">
          <div class="ptable-single">
            <div class="ptable-header">
              <div class="ptable-title">
                <h2>Momentum Pick</h2>
                <p class="plan-detail">Stock with strong technical breakouts expecting near term direction momentum & volatility</p>
              </div>
              <div class="ptable-price">
                <span class="user-plan">Rakesh Sharma</span>
                <h5 class="rating"><small>⭐</small>4.5/5 <span class="rate"> (120)</span></h5>
              </div>
            </div>
            <div class="ptable-body">
              <div class="ptable-description">
                <div>
                  <div class="plan-rate">
                    Pro    +
                  </div>
                  <div class="plan-rate">1,490.00 <small class="plan-price">/Mo</small></div>
                </div>
                <ul>
                  <li >The best benefits of Pro:</li>
                  <div class="accordion " id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          You will get:
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body px-5">
                          <li class="plan">Full access to all ideas shared under the channel “Momentum Picks” 10-15 ideas per month</li>
                          <li class="plan">When to enter & exit, target & stop loss price for all ideas shared during the month</li>
                          <li class="plan">New updates foe all ideas shared during the month</li>
                          <li class="plan">When to enter & exit, target & stop loss price for all ideas shared during the month</li>
                          <li class="plan">New updates foe all ideas shared during the month</li>
                        </div>
                      </div>
                    </div>

                  </div>
                <div class="px-2">
                  <li class="plans">This subscription will take effect on all platforms (Website, Desktop
                    and Mobile apps).</li>
                  <li class="plans">This app is free of charge and most of its tools are available for free.
                    If you need advanced features, please purchase a plan</li>
                  <li class="plans">Monthly subscription fee applies after the end of your free trials
                    are available only once.</li>
                    <li class="plans">All plans renew automatically and are debited from your billing
                      account. However you can cancel this</li>
                </div>
                </ul>
              </div>
            </div>
            <div class="ptable-footer">
              <div class="ptable-action">
                <a href="">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ptable-item featured-item">
          <div class="ptable-single">
            <div class="ptable-header">
              <div class="ptable-status">
                <span>Hot</span>
              </div>
              <div class="ptable-title">
                <h2>Momentum Pick</h2>
                <p class="plan-detail">Stock with strong technical breakouts expecting near term direction momentum & volatility</p>
              </div>
              <div class="ptable-price">
                <span class="user-plans">Rakesh Sharma</span>
                <h5 class="rating"><small>⭐</small>4.5/5 <span class="rate"> (120)</span></h5>
              </div>
            </div>
            <div class="ptable-body">
              <div class="ptable-description">
                <div>
                  <div class="plan-rate">
                    Premium
                  </div>
                  <div class="plan-rate">5,790.00 <small class="plan-price">/Mo</small></div>
                </div>
                <ul>
                  <li >The best benefits of Pro:</li>
                  <div class="accordion " id="accordionExample1">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          You will get:
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
                        <div class="accordion-body px-5">
                          <li class="plan">Full access to all ideas shared under the channel “Momentum Picks” 10-15 ideas per month</li>
                          <li class="plan">When to enter & exit, target & stop loss price for all ideas shared during the month</li>
                          <li class="plan">New updates foe all ideas shared during the month</li>
                          <li class="plan">When to enter & exit, target & stop loss price for all ideas shared during the month</li>
                          <li class="plan">New updates foe all ideas shared during the month</li>
                        </div>
                      </div>
                    </div>

                  </div>
                <div class="px-2">
                  <li class="plans">This subscription will take effect on all platforms (Website, Desktop
                    and Mobile apps).</li>
                  <li class="plans">This app is free of charge and most of its tools are available for free.
                    If you need advanced features, please purchase a plan</li>
                  <li class="plans">Monthly subscription fee applies after the end of your free trials
                    are available only once.</li>
                    <li class="plans">All plans renew automatically and are debited from your billing
                      account. However you can cancel this</li>
                </div>
                </ul>
              </div>
            </div>
            <div class="ptable-footer">
              <div class="ptable-action">
                <a href="">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ptable-item">
          <div class="ptable-single">
            <div class="ptable-header">
              <div class="ptable-title">
                <h2>Momentum Pick</h2>
                <p class="plan-detail">Stock with strong technical breakouts expecting near term direction momentum & volatility</p>
              </div>
              <div class="ptable-price">
                <span class="user-plan">Rakesh Sharma</span>
                <h5 class="rating"><small>⭐</small>4.5/5 <span class="rate"> (120)</span></h5>
              </div>
            </div>
            <div class="ptable-body">
              <div class="ptable-description">
                <div>
                  <div class="plan-rate">
                    Pro    +
                  </div>
                  <div class="plan-rate">5,790.00 <small class="plan-price">/Mo</small></div>
                </div>
                <ul>
                  <li >The best benefits of Pro:</li>
                  <div class="accordion " id="accordionExample2">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne2">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          You will get:
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
                        <div class="accordion-body px-5">
                          <li class="plan">Full access to all ideas shared under the channel “Momentum Picks” 10-15 ideas per month</li>
                          <li class="plan">When to enter & exit, target & stop loss price for all ideas shared during the month</li>
                          <li class="plan">New updates foe all ideas shared during the month</li>
                          <li class="plan">When to enter & exit, target & stop loss price for all ideas shared during the month</li>
                          <li class="plan">New updates foe all ideas shared during the month</li>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="px-2">
                  <li class="plans">This subscription will take effect on all platforms (Website, Desktop
                    and Mobile apps).</li>
                  <li class="plans">This app is free of charge and most of its tools are available for free.
                    If you need advanced features, please purchase a plan</li>
                  <li class="plans">Monthly subscription fee applies after the end of your free trials
                    are available only once.</li>
                    <li class="plans">All plans renew automatically and are debited from your billing
                      account. However you can cancel this </li>
                </div>
                </ul>
              </div>
            </div>
            <div class="ptable-footer">
              <div class="ptable-action">
                <a href="">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
