<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="row">
            <div class="d-flex justify-content-between align-items-baseline">
                <div>
                    <h1 class="px-3 py-1">Club List</h1>
                </div>
                <button type="button" class="btn btn-outline-secondary" ><i class="bi bi-pencil-square" (click)="addClub()"></i></button>
            </div>
            </div>
            <table class="rwd-table list-card w-100">
                <tbody>
                    <tr>
                        <th>Club Name</th>
                        <th>Impresssion</th>
                        <th>Followers</th>
                        <th>Post</th>
                        <th>Operation</th>
                    </tr>
                    <tr>
                      
                        <td data-th="Club Name">
                            <div class="table-text">
                                Chartbusters
                            </div>
                        </td>
                        <td data-th="Impresssion">
                            <div class="table-text">
                                49
                            </div>
                        </td>

                        <td data-th="Followers">
                            <div class="table-text">
                                2
                            </div>
                        </td>
                        <td data-th="Post">
                            <div class="table-text">
                                8
                            </div>
                        </td>
                     
                        <td data-th="Operation">
                            <div class="d-flex">
                                <span><i class="bi bi-pencil px-2"></i></span>
                                <span><i class="bi bi-trash"></i></span>
                            </div>
                        </td>

                    </tr>
                    <tr>
                      
                        <td data-th="Member Name">
                            <div class="table-text">
                                Test 2
                            </div>
                        </td>
                        <td data-th="User Type">
                            <div class="table-text">
                                3
                            </div>
                        </td>

                        <td data-th="Mobile">
                            <div class="table-text">
                                2
                            </div>
                        </td>
                        <td data-th="Email">
                            <div class="table-text">
                                3
                            </div>
                        </td>
                     
                        <td data-th="Operation">
                            <div class="d-flex">
                                <span><i class="bi bi-pencil px-2"></i></span>
                                <span><i class="bi bi-trash"></i></span>
                            </div>
                        </td>

                    </tr>
                    <tr>
                      
                        <td data-th="Member Name">
                            <div class="table-text">
                            Shri
                            </div>
                        </td>
                        <td data-th="User Type">
                            <div class="table-text">
                               0
                            </div>
                        </td>

                        <td data-th="Mobile">
                            <div class="table-text">
                                1
                            </div>
                        </td>
                        <td data-th="Email">
                            <div class="table-text">
                                0
                            </div>
                        </td>
                     
                        <td data-th="Operation">
                            <div class="d-flex">
                                <span><i class="bi bi-pencil px-2"></i></span>
                                <span><i class="bi bi-trash"></i></span>
                            </div>
                        </td>

                    </tr>
                    <tr>
                      
                        <td data-th="Member Name">
                            <div class="table-text">
                                Monetize
                            </div>
                        </td>
                        <td data-th="User Type">
                            <div class="table-text">
                                9
                            </div>
                        </td>

                        <td data-th="Mobile">
                            <div class="table-text">
                                1
                            </div>
                        </td>
                        <td data-th="Email">
                            <div class="table-text">
                                6
                            </div>
                        </td>
                     
                        <td data-th="Operation">
                            <div class="d-flex">
                                <span><i class="bi bi-pencil px-2"></i></span>
                                <span><i class="bi bi-trash"></i></span>
                            </div>
                        </td>

                    </tr>
                    <tr>
                      
                        <td data-th="Member Name">
                            <div class="table-text">
                            Club 2
                            </div>
                        </td>
                        <td data-th="User Type">
                            <div class="table-text">
                                59
                            </div>
                        </td>

                        <td data-th="Mobile">
                            <div class="table-text">
                                3
                            </div>
                        </td>
                        <td data-th="Email">
                            <div class="table-text">
                                4
                            </div>
                        </td>
                     
                        <td data-th="Operation">
                            <div class="d-flex">
                                <span><i class="bi bi-pencil px-2"></i></span>
                                <span><i class="bi bi-trash"></i></span>
                            </div>
                        </td>

                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>