<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h3 style="text-transform: uppercase;">User List</h3>

            <div class="table-responsive">
                <div class="d-flex justify-content-center" *ngIf="isLoading == true"
                    style="height: 50vh; align-items: center;">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <table *ngIf="isLoading == false" mat-table [dataSource]="dataSource"
                    class="mat-elevation-z8 w-100 table-responsive">
                    <ng-container matColumnDef="NAME">
                        <th mat-header-cell *matHeaderCellDef> NAME </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="User Type">
                        <th mat-header-cell *matHeaderCellDef> User Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.usertype}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Mobile">
                        <th mat-header-cell *matHeaderCellDef> Mobile No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.mobileno}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Country">
                        <th mat-header-cell *matHeaderCellDef> Country </th>
                        <td mat-cell *matCellDef="let element"> {{element.experttype}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Experience">
                        <th mat-header-cell *matHeaderCellDef> Experience </th>
                        <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Bank">
                        <th mat-header-cell *matHeaderCellDef> Bank </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="aboutus">
                                {{element.bankname}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Account Number">
                        <th mat-header-cell *matHeaderCellDef> Account Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.accountnumber}} </td>
                    </ng-container>
                    <ng-container matColumnDef="IFSC Code">
                        <th mat-header-cell *matHeaderCellDef> IFSC Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.bankIFSCcode}} </td>
                    </ng-container>
                    <ng-container matColumnDef="About Us">
                        <th mat-header-cell *matHeaderCellDef> About Us </th>
                        <td mat-cell *matCellDef="let element" style="cursor: pointer;">
                            <span class="aboutus" (click)="showContent(element.id)"
                                [ngClass]="contentId == element.id && isShowContent == true ? 'show' : 'aboutus'">
                                {{element.aboutus}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="col-6 d-flex justify-content-start">
                                <span class="badge badge-success" *ngIf="element.isActive == true">Active</span>
                                <span class="badge badge-danger" *ngIf="element.isActive == false">DeActive</span>
                                <span class="badge badge-danger" *ngIf="element.isActive == null">No Found</span>
                            </div>
                            <div class="col-6" *ngIf="element.isActive != null">
                                <!-- <label class="switch">
                                    <input type="checkbox" [checked]="element.isActive == true"
                                        (change)="onChange(element.id, element.isActive)">
                                    <span class="slider round"></span>
                                </label> -->

                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Options">
                        <th mat-header-cell *matHeaderCellDef> Options </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex">
                                <!-- <button class="btn btn-primary" (click)="onChange(element.id, element.isActive)"><i class="bi bi-trash"></i></button> -->
                                <!-- <i class="bi bi-toggle2-off" *ngIf="element.isActive == false || element.isActive == null" (click)="onChange(element.id, element.isActive)" style="font-size: 30px; color: red;"></i>
                        <i class="bi bi-toggle2-on" *ngIf="element.isActive == true" (click)="onChange(element.id, element.isActive)" style="font-size: 30px; color: green;"></i> -->
                                <label class="switch">
                                    <input type="checkbox" [checked]="element.isActive == true"
                                        (change)="onChange(element.id, element.isActive)">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator  #paginator [pageSize]="10" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>