
<div class="pagetitle">
    <h1 class="px-3"><i class="bi bi-arrow-left px-2"></i>Detail-Page</h1>
  </div><!-- End Page Title -->
  <section class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="card">
          <div class="card-body">
            <!-- Bordered Tabs Justified -->
            <div class="example" style="height: 55vh; overflow: auto;">
              <div class="card py-2">
                <div class="card-body">
                  <div class="row">
                    <div class="channel-detail py-1">
                      Market Volatility
                    </div>
                    <div class="dot py-2">#NIF100BEES</div>
                    <div class="date">27 Jan 2023, 06:43 PM</div>
                  </div>
                  <div class="row py-2">
                    <div class="col-lg-6 months">
                      <button type="button" class="btn position-btn"><i class="bi bi-clock px-2"></i>Medium Term (6-12 Months)</button>
                    </div>
                  </div>
                  <div class="row py-2 ">
                    <h6 class="dis-line">*Current market Volatility* </h6>
                    <p class="dis">As per my view Investors should faith and trust into the market
                      and adding money (free money) into SIP basis on every correction.
                      market will recover and rebound soon. Dont put entire money into
                      single share. Always invest into min 10-15 share with equal amount.
                      Market always looks for forward.</p><br>
                      <p class="dis">https://twitter.com/riteshdaga83/status/162155698582558594?t=
                        4uQBU0aHDxGijcx3oXrqQ&s=35</p>
                  </div>
                  <div class="d-flex justify-content-between user_informatiom py-2">
                    <div>
                      <span> <i class="bi bi-hand-thumbs-up-fill px-2">1</i></span>
                      <span><i class="bi bi-share-fill"></i></span>
                    </div>
                    <div>
                      <i class="bi bi-bookmark-fill"></i>
                    </div>
                  </div>
                  <div class="py-3 ">
                    <div class="row py-2">
                      <h6 class="dis-line">Disclaimer </h6>
                      <p class="dis">Ideas are shared on best effort basis with required due diligence and
                        research integrity. These ideas can go wrong and incur losses considering market volatility. You are fully responsible for both profits
                        and losses incurred from these ideas if you choose to follow and execute them. We recommend you to do your own research and take
                        informed decicions</p>
                    </div>
                  </div>
                </div>
              </div></div>
            <!-- End Bordered Tabs Justified -->
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <app-commen-selection></app-commen-selection>
      </div>
    </div>
  </section>
