<div class="fixadd">
  <div class="card list-card">
    <div class="">
      <h5 class="card-title addstyletitel">Top Trending Channel</h5>
      <div class="d-flex justify-content-center" *ngIf="isLoading == true" style="height: 50vh; align-items: center;">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="m-3"  style="height: 55vh; overflow: auto;" *ngIf="topTrendingChannel.length != 0 && isLoading == false"
        infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
              (scrolled)="onScroll()">
        <div class="" *ngFor="let data of topTrendingChannel" >
          <div class="d-flex align-items-baseline justify-content-between" >
            <div class="trending-name"> Trending in {{data.experttype}}</div>
            <div class="follow-dropdown">
              <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots"></i>
                </a><!-- End Profile Iamge Icon -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header" style="cursor: pointer;">
                    <h6 *ngIf="data.isSubscribed == false" (click)="subscribe(data)"><i class="bi bi-bell px-2"></i>Subscribe Now</h6>
                    <h6 *ngIf="data.isSubscribed == true"><i class="bi bi-bell px-2"></i>Subscribed</h6>
                    <!-- <span><i class="bi bi-emoji-frown px-2"></i>This trend is harmful or spammy</span> -->
                  </li>
                  <!-- <li>
                    <hr class="dropdown-divider">
                  </li> -->
                </ul><!-- End Profile Dropdown Items -->
              </li>
            </div>
          </div>
          <span class="title-name">{{data.name}}</span>
          <div class="hashtag-line">{{data.sebi}}</div>
          <hr>
        </div>
       
     
      </div>
      <div class="m-3" style="height: 55vh; overflow: auto;" *ngIf="topTrendingChannel.length == 0">
        <div>
          <img class="nodata" src="assets/img/noDataFound.png" alt="" />
        </div>
        <div class="msg">
          <sapn>No Data Found at the Moment, Comeback later!</sapn>
        </div>
      </div>
      <!-- <div class="border-bottom">
    <p class="condition-line">By signing up, you agree to the <strong>Terms of Service</strong> and <strong>Privacy Policy</strong>, including Cookie Use.</p>
  </div>
   <div class="border-bottom">
    <span class=""><a class="support-pages" routerLink="privacy-policy">Privacy Policy</a>
    </span>
    <span class="px-3"><a class="support-pages" routerLink="legal-disclamer">Legal Disclamer</a>
    </span>

    <span><a class="support-pages" routerLink="terms">Terms and Conditions</a>
    </span>
    <span class="px-3"><a class="support-pages" routerLink="terms-services">Terms and Services</a>
    </span>
    <span><a class="support-pages" routerLink="faq">F.A.Q</a>
    </span>
   </div>
   <div class="py-2 text-center d-flex justify-content-center">
    <div class="">
      © 2023 Copyright:
      <a class="text-white"
         ><strong><span>ExpertInvester</span></strong>.All Rights Reserved</a
        >
    </div>  </div>
    </div>
  </div> -->
    </div>