.support-pages {
  font-size: 12px;
  color: grey;
}

.support-pages:hover {
  font-size: 13px;
  text-decoration: underline;
  color: rgb(97, 97, 97);
}

.condition-line {
  font-size: 12px;
  font-weight: 500;
}

strong {
  color: #576CBC;
}

.fixadd {
  position: fixed;
}


::-webkit-scrollbar {
  display: none;
}

.nodata {
  width: -webkit-fill-available;
  height: 315px;
}

.msg {
  position: absolute;
  top: 21rem;
  font-weight: 600;
  color: gray;
  font-size: 15px;
}