<div class="container ">
  <div class="row ">
    <div class="col-lg-10 mx-auto my-5">
      <div class="card list-card">
        <div class="card-body">
          <h1>Privacy Policy</h1>
    <p>
    <br><br>
    Your acceptance of our Privacy Policy and Conditions of Use (expertinvester.com/terms) and your acceptance to our collection, storage, use, and disclosure of your Personal Information as set forth in this Privacy Policy are evidenced by your access to our Site/App or Service.
    "Expert Invester" "Company," "we," "us," or "our" refer to Expert Invester, a business in Indore, India, that is registered under the Companies Act of 2013. The Companies who will have access to the Platform in order to use the Services are referred to as "Users," "You," and "Your."
    "In order to allow Users to access the Services through the Platform, "Platform" refers to and includes www.expertinvester.com and our mobile apps (Android & iOS), developed and owned by Expert Invester.
    Services refer to any offerings made to Users through the Platform. Expertinvester is a platform for learning and sharing stock market ideas. We link users with leading industry experts. Customers have access to learning materials shared by specialists on the platform, as well as trading and investing ideas.</p>
        <h2>INFORMATION YOU PROVIDE TO US</h2>
    <p class="py-2">
    <br><br>
    1. To use our service, you must first register via OTP-based verification on a cellphone number.<br>
    2. By registering with us, you authorize us to collect, shop, and use your personal information in accordance with this Privacy Policy and agree to establish an account with us.<br>
    3. A user's photo, name, email address, phone number, location, gender, PAN, date of birth, and additional personal preferences like a stock watchlist, time horizon, knowledge level, capital size, and risk profile questions may be requested at the time of registration. This information is collectively referred to as "User Profile Content."<br>
    4. Users certify that the registration data they submit is true and full. You must be careful to double-check any information or data you give us. Any data or information that is found to be faulty or wrong must be reported to us right away so that we can make the necessary corrections. Any information, including personally identifiable information, that is supplied to us is not guaranteed to be accurate by us.<br>
    5. Any information you deliberately enter on the platform's Services, whether through a computer, a mobile phone, another wireless device, or any other means, will be received and stored by the company.<br>

    </p>
    <h2>INFORMATION COLLECTED VIA TECHNOLOGY</h2>
    <p class="py-2">
    <br><br>
    1. Our servers (which may be hosted by a third-party service provider) gather information from you, including your browser type, operating system, Internet Protocol (IP) address (a number that is automatically assigned to your computer when you use the Internet and that may change from session to session), and domain name, in order to make our Site/App and Services more useful to you.<br>
    2. To assist us in analyzing specific online behaviors, we could use third-party service providers and cookies. These service providers could assist us in our analysis of user behavior and activities on the website or app. We might allow these service providers to carry out these functions for us using cookies and other technologies.<br>
    3. In order to gather and assess various data on service users, we also employ some marketing cookies offered by third parties. However, no sensitive or private data is gathered throughout this procedure.<br>
    4. We also may disclose your information if we believe doing so is appropriate or necessary to prevent any liability, or fraudulent, abusive, or unlawful uses or to protect DeViine and our Services; or any rights, property, or personal safety of DeViine or others.<br>
    5. The data gathered using the techniques mentioned in this Section may be linked to your personal information if you are logged into the site or using its services, in which case it will be handled as such and subject to this privacy policy.<br>
   </p>
   <h2>USE OF INFORMATION</h2>
   <p class="py-2">
   <br><br>
   1. In order to provide our services as effectively as possible, User provides the Company a personal, limited, revocable, non-exclusive, and right to use your data.<br>
   2. Additionally, the User authorizes the Company the right to: I display User information, such as a photo or name, on the Platform; and (ii) advertise or distribute it so that other Users and Experts can access it.<br>
   3. Safeguard our users and our services.<br>
   4. Statistics, market research, and analysis of the market and customers.<br>
   5. To stop and catch fraud or misuse of our services, as well as to stop, catch, and look into any possible illegal or forbidden conduct.<br>
  </p>
  <h2>DATA PROTECTION</h2>
   <p class="py-2">
   <br><br>
   To guarantee that there are sufficient measures and techniques to secure the user's data against any unauthorised or unlawful use, access, or disclosure, the Company has adopted acceptable industry-standard security practises.<br><br>
   Except as required to provide the Service, the company will not copy, store, disclose, or otherwise use the user's data.<br><br>
   Please be aware that no method of electronic storage or data transmission over the internet is 100% secure. Although the company will always take reasonable steps to protect the data, we cannot completely guarantee the security of user account information. You affirm that you are aware of and willing to accept these risks by using our service.<br><br>

  </p>
  <h2>DELETION OF INFORMATION OR DATA</h2>
   <p class="py-2">
   <br><br>
   You have the right to ask us to remove any personal data we have on file about you from your individual user account you have registered on our platform.<br><br>
   The same is accessible from the app's "My Profile" section. Through the "Delete my account" button, you can also ask for the entire deletion of your profile. You can also ask for the deletion of your personal account information by emailing support@expertinvester.com.<br><br>
   Your information is kept on file with us for a few weeks after deletion in case you decide to reactivate your account. All of your data will be permanently deleted after this predetermined time period.<br><br>
   However, we may keep some personal information as permitted by applicable law, such as personal information required as necessary to provide our services, safeguard our company and systems from fraud, respond to legitimate law enforcement requests, use the information for our own internal purposes that are reasonably related to your relationship with us, or to meet legal or financial compliance requirements.<br><br>

  </p>
  <h2>MODIFICATION OF PRIVACY POLICY</h2>
   <p class="py-2">
   <br><br>
   The Company maintains the right to change or alter any of the terms herein at any time, and any such change shall take effect as soon as it is posted on the website. If you continue to use our service after any such alteration is posted, you agree to be bound by any modifications to this "Privacy Policy." Users have an affirmative obligation to stay up to date on updates.
  </p>
  <h2>GET IN TOUCH</h2>
   <p class="py-2">
   <br><br>
   Please send an email to support@expertinvester.com if you have any questions about this Privacy Policy or the procedures of this website.

  </p>

        </div>
      </div>
    </div></div>
</div>
