<div class="pagetitle">
    <h1 class="px-3"><i class="bi bi-arrow-left"></i></h1>

  </div><!-- End Page Title -->

  <section class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="row border-bottom py-2">
              <div class="d-flex align-items-center justify-content-between">
                <div><h4 class="px-2 heading-line">Chartbusters</h4>
                  <div class="d-flex align-items-baseline justify-content-between">
                 <div class="">
<span class=" date">Hangout of people who eat sleep and drink</span>
                 </div>

                  </div></div>
                <div class="upload-img"><i class="bi bi-cloud-arrow-up-fill"></i></div>
              </div>
            </div>
            <!-- Bordered Tabs Justified -->

            <div class="tab-content pt-2" id="borderedTabJustifiedContent">
              <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
                <div class="example">
                   <div class="card my-3">
                  <div class="card-body">
                    <div class="row py-3">
                      <div class="form-group">
                        <label class="form-line" for="exampleInputEmail3">External Link</label>
                        <input type="text" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="External Link">
                      </div>
                    </div>
                    <div class="row py-3">
                      <div class="form-group">
                        <label class="form-line" for="exampleInputEmail4">Enter Description</label>
                        <input type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp" placeholder="Enter Description">
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-6 mx-auto d-flex justify-content-center">
                          <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
              </div>

            </div><!-- End Bordered Tabs Justified -->

          </div>
        </div>

      </div>
   
      <div class="col-lg-5">
        <app-commen-selection></app-commen-selection>
      </div>
    </div>
  </section>
