<section class="container  ">
  <div class="row">
    <div class="mx-auto">
      <div class="card list-card my-3 m-4">
        <div class="pagetitle">
          <div class="d-flex justify-content-between align-items-baseline m-2">
            <div>
              <h1 class="px-3 py-1">{{name}}</h1>
            </div>
              <div >
                <button type="button" class="btn btn-outline-secondary" (click)="AddClub()"><i
                    class="bi bi-plus-circle"></i></button>
              </div>
          </div>
        </div>
      
        <!-- Bordered Tabs Justified -->
        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
          <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel"
            aria-labelledby="home-tab">
            <div class="example" style="height: 75vh; overflow: auto;">
           
                <div class="card list-card my-3 m-4"
                  *ngFor="let items of clubDetails | filter : searchKey : 'username'">
                  <div class="card-body">
                    <div class=" row user_informatiom d-flex justify-content-between" style="cursor: pointer;">
                      <div class="d-flex col-12" >
                        <div class="col-2">
                          <span class="user-icon"><i class="bi bi-person-circle"></i></span>
                        </div>
                        <div class="col-10 mx-3 py-2">
                          <div class="user_name">{{items.username}}</div>
                          <div class="detail">{{items.sebi}}</div>
                          <div class="percent">Accuracy 57.7% Profitability -13.5%</div>
                        </div>
                      </div>

                      <!-- <div class="col-4" style="display: flex;justify-content: end;height: fit-content;">
                        <button class="btn follow-btn" *ngIf="items.isSelfPost != true">
                          <span *ngIf="items.clubBlock == false" (click)="blockUnblockPost(items.id, true)"
                            style="padding: inherit;">Block</span>
                          <span *ngIf="items.clubBlock == true" (click)="blockUnblockPost(items.id, false)"
                            style="padding: inherit;">Unblock</span>
                        </button>
                      </div> -->
                    </div>
                    <div>
                      
                      <div class="row">
                        <div class="channel-name d-flex justify-content-between align-items-center py-2">
                          <span> <i class="bi bi-lightbulb"></i>Chat Barter</span> <span class=""><button type="button"
                              class="btn follow-btn">Follow</button></span>
                        </div>
                        <div class="channel-detail">
                          DSSL DYNACON SYSTEM
                        </div>
                        <div class="date">27 Jan 2023, 06:43 PM</div>
                      </div>
                      <div class="row">
                        <img [src]="items.imageurl" style="object-fit:fill; height:500px" alt="">
                      </div>
                      <div class="row py-2" >
                        <h6 class="dis-line">IBR Infra CMP 305 :</h6>
                        <p class="dis">{{items.description}}</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <span >
                            <!-- <i class="bi bi-hand-thumbs-up px-2"
                              *ngIf="items.isUserLiked == false">{{items.likeCount}}</i> -->
                            <i class="bi bi-hand-thumbs-up-fill px-2" >{{items.likeCount}}</i>
                          </span>
                          <span><i class="bi bi-share-fill px-2"></i></span>
                        </div>
                        <div>
                          <span><i class="bi bi-bookmark-fill px-2"></i></span>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          

            </div>
          
          </div>
        </div>

      </div>
    </div>
  </div>
</section>