<section class="container my-5">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <div class="card list-card">
        <div class="card-body">
          <h5 class="card-title">Expert-Form</h5>
          <!-- General Form Elements -->
          <form [formGroup]="AddExpertForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-person px-2"></i>User Name</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control"  formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && ExpertControl.name.errors }">
                    <div *ngIf=" submitted && ExpertControl.name.errors" class="invalid-feedback">
                      <div *ngIf="ExpertControl.name.errors.required">Name is required.</div>
                    </div>
                  </div>
                </div>
                <!-- <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Expert Type</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="experttype" [ngClass]="{ 'is-invalid': submitted && ExpertControl.experttype.errors }">
                    <div *ngIf=" submitted && ExpertControl.experttype.errors" class="invalid-feedback">
                      <div *ngIf="ExpertControl.experttype.errors.required">Expert Type is required.</div>
                    </div>
                  </div>
                </div> -->
            <fieldset class="row mt-2 mb-3">
              <legend class="col-form-label col-lg-6 pt-0 form-line"><i class="bi bi-r-circle px-2"></i>Are you SEBI registered</legend>
              <div class="col-lg-6 d-flex justify-content-around">
                <div class="form-check" *ngFor="let item of isSebi">
                  <input class="form-check-input" type="radio" [value]="item.value" formControlName="IsSEBI" [ngClass]="{ 'is-invalid': submitted && ExpertControl.IsSEBI.errors }">
                  <label class="form-check-label">{{item.status}}</label>
                </div>
               

                <!-- <div class="form-check">
                  <input class="form-check-input" type="radio"  [value]="false" formControlName="IsSEBI">
                  <label class="form-check-label" >No</label>
                </div> -->
              </div>
            </fieldset>

            <div class="row mb-3" *ngIf="AddExpertForm.value.IsSEBI == true">
              <label for="inputPassword" class="col-lg-4 col-form-label form-line"><i class="bi bi-bank px-2"></i>SEBI Reg.No</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName="SEBIRegNo" [ngClass]="{ 'is-invalid': submitted && ExpertControl.SEBIRegNo.errors }">
                <div *ngIf=" submitted && ExpertControl.SEBIRegNo.errors" class="invalid-feedback">
                  <div *ngIf="ExpertControl.SEBIRegNo.errors.required">SEBI Reg.No is required.</div>
                </div>
                <div class="edit-icon">
                  <label for="file-input">
                    <i class="bi bi-paperclip"></i>Attached SEBI reg. certificate PDF
                    <p *ngIf="imageSrc != ''">{{imageSrc}}</p>
                </label>
                <input id="file-input" type="file" accept="application/pdf" class="cstm-file" (change)="onSelectFile($event)">
              </div>
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputNumber" class="col-lg-4 col-form-label form-line"><i class="bi bi-person-vcard px-2"></i>Account Holder Name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName="accountname"  [ngClass]="{ 'is-invalid': submitted && ExpertControl.accountname.errors }">
                <div *ngIf=" submitted && ExpertControl.accountname.errors" class="invalid-feedback">
                  <div *ngIf="ExpertControl.accountname.errors.required">Account Holder Name is required.</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Bank Name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName="bankname" [ngClass]="{ 'is-invalid': submitted && ExpertControl.bankname.errors }">
                <div *ngIf=" submitted && ExpertControl.bankname.errors" class="invalid-feedback">
                  <div *ngIf="ExpertControl.bankname.errors.required">Bank Name is required.</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputNumber" class="col-lg-4 col-form-label form-line"><i class="bi bi-book px-2"></i>Knowledge Level</label>
              <div class="col-lg-8">
                <!-- <input type="text" class="form-control" formControlName="knowledgelevel" [ngClass]="{ 'is-invalid': submitted && ExpertControl.knowledgelevel.errors }"> -->
                <select class="form-select" aria-label="Default select example" formControlName="knowledgelevel" [ngClass]="{ 'is-invalid': submitted && ExpertControl.knowledgelevel.errors }">
                  <option [value]="item" *ngFor="let item of knowledgeLevel">{{item}}</option>
                </select>
                <div *ngIf=" submitted && ExpertControl.knowledgelevel.errors" class="invalid-feedback">
                  <div *ngIf="ExpertControl.knowledgelevel.errors.required">Knowledge Level is required.</div>
                </div>
              </div>
            </div>

              </div>
              <div class="col-lg-6">
                <!-- <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>User Type</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="mobileno">
                  </div>
                </div> -->
                <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Email*</label>
                  <div class="col-lg-8">
                    <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && ExpertControl.email.errors }" maxlength="50">
                    <div *ngIf=" submitted && ExpertControl.email.errors" class="invalid-feedback">
                      <div *ngIf="ExpertControl.email.errors.required">Email is required.</div>
                      <div *ngIf="ExpertControl.email.errors.email">Email is invalid.</div>
                    </div>
                  </div>
                </div>
<!--I am expert-->
                <div class="row mb-3">
                  <label class="col-lg-4 col-form-label form-line"><i class="bi bi-explicit px-2"></i>I am Expert </label>
                  <div class="col-lg-8">
                    <select class="form-select" aria-label="Default select example" formControlName="experttype" [ngClass]="{ 'is-invalid': submitted && ExpertControl.experttype.errors }">
                      <option [value]="item.countryName" *ngFor="let item of country">{{item.countryName}}</option>
                    </select>
                    <div *ngIf=" submitted && ExpertControl.experttype.errors" class="invalid-feedback">
                      <div *ngIf="ExpertControl.experttype.errors.required">Expert type is required.</div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Account No</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="accountnumber" (keypress)="keyPressNumbers($event)" [ngClass]="{ 'is-invalid': submitted && ExpertControl.accountnumber.errors }">
                    <div *ngIf=" submitted && ExpertControl.accountnumber.errors" class="invalid-feedback">
                      <div *ngIf="ExpertControl.accountnumber.errors.required">Account No is required.</div>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Bank IFSC Code</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="bankIFSCcode" [ngClass]="{ 'is-invalid': submitted && ExpertControl.bankIFSCcode.errors }">
                    <div *ngIf=" submitted && ExpertControl.bankIFSCcode.errors" class="invalid-feedback">
                      <div *ngIf="ExpertControl.bankIFSCcode.errors.required">Bank IFSC Code is required.</div>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-lg-4 col-form-label form-line"><i class="bi bi-database px-2"></i>Experience</label>
                  <div class="col-lg-8">
                    <!-- <input type="text" class="form-control" formControlName="experience" [ngClass]="{ 'is-invalid': submitted && ExpertControl.experience.errors }"> -->
                    <select class="form-select" aria-label="Default select example" formControlName="experience" [ngClass]="{ 'is-invalid': submitted && ExpertControl.experience.errors }">
                      <option [value]="item" *ngFor="let item of experience">{{item}}</option>
                    </select>
                    <div *ngIf=" submitted && ExpertControl.experience.errors" class="invalid-feedback">
                      <div *ngIf="ExpertControl.experience.errors.required">Experience is required.</div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPassword" class="col-lg-4 col-form-label form-line"><i class="bi bi-pencil px-2"></i>About Us</label>
                  <div class="col-lg-8">
                    <textarea class="form-control" formControlName="aboutus" style="height: 80px"[ngClass]="{ 'is-invalid': submitted && ExpertControl.aboutus.errors }"></textarea>

                        <div *ngIf=" submitted && ExpertControl.aboutus.errors" class="invalid-feedback">
                          <div *ngIf="ExpertControl.aboutus.errors.required">About Us is required.</div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3 mt-3">
              <div class="col-lg-6 mx-auto">
                <!-- <button class="btn btn-primary w-100 " type="submit">Submit</button> -->
                <button class="btn btn-primary w-100 " type="submit" [disabled]="isLoading">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
                   <span *ngIf="!isLoading">Submit</span>
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
