@media screen and (min-width: 320px) and (max-width: 416px) {
  svg.enter-icon {
    width: 91px;
}
.list-card{
  padding: 8px !important;
}
}
@media screen and (min-width: 415px) and (max-width: 501px) {

}
.card-header{
  border: none !important;
}
