.select-field {
    padding: 10px;
    border: 2px solid #F61C7A;
    border-radius: 12px;
}
.select-option {
    color: #03314B;
    font-size: 16px;
    font-weight: 700;
}
.select-detail {
    font-size: 12px;
    color: #8198A5;
}
.heading-select {
    font-size: 20px;
    font-weight: 700;
    color: #03314B;
}
.subline-select {
    font-size: 14px;
    font-weight: 400;
    color: #8198A5;
}
