<div class="container ">
    <div class="row ">
        <div class="col-lg-10 mx-auto my-5">
            <div class="card list-card">
                <div class="card-body">
                    <h1 class="py-3">RISK DISCLAIMER POLICY</h1>

                    <ul>
                        <li class="service-pt py-3">
                            Indian-based Expert Invester is a company that offers investing advice. The business
                            maintains and controls both its mobile app and website.
                        </li>
                        <li class="service-pt">
                            A stock market idea exchange and education website called Expert Invester. We link users
                            with leading industry experts. We serve as a marketplace as a platform and are not RIAs or
                            research analysts that are registered with SEBI (RA). </li>
                        <li class="service-pt py-3">
                            The experts overseeing idea channels on our platform have been hand-selected and carefully
                            curated for you by SEBI RIA/RA. The Business offers these Professionals technical solutions
                            and associated back-end infrastructure so they can communicate their trading and investment
                            ideas online. </li>
                        <li class="service-pt">
                            Experts' recommendations for trading and investing in stocks are based on a variety of
                            techniques, including technical analysis and fundamental analysis. </li>
                        <li class="service-pt py-3">
                            The opinions expressed by Experts in their ideas, analyses, reports, data, and plans are
                            completely their own. These viewpoints will not be taken into consideration because Expert
                            Invester does not support any of them </li>
                        <li class="service-pt">
                            Users of the Expert Invester service should be aware that the Experts' diverse opinions are
                            their own. Divergent opinions from different experts may be expressed for the same stock,
                            index, or F&O position. </li>
                        <li class="service-pt py-3">
                            Each of these concepts has a unique cadence and frequency of updates, which are established
                            by the experts according to their own judgment and include SIGNALS, analysis, insights,
                            exits, additions, etc </li>
                        <li class="service-pt">
                            Market risks can affect both trading and investing in stocks. Please carefully read all
                            pertinent documents. </li>
                        <li class="service-pt py-3">
                            Dealing with futures and options carries a significant risk. If the risk is not
                            appropriately managed, you could lose a significant amount of money. </li>
                        <li class="service-pt">
                            Our SEBI RIA/RA Specialists' suggestions are offered with the utmost care and adhere to the
                            highest standards of research integrity. Given the volatility of the market, these
                            suggestions could backfire and result in losses.
                        </li>
                        <li class="service-pt py-3">
                            Any losses suffered are not the responsibility of the Expert Investor or the experts. If you
                            decide to adopt and put these ideas into practice, you will be entirely responsible for any
                            gains or losses resulting from them.
                        </li>
                        <li class="service-pt">
                            We advise you to conduct your own research and deliberate carefully. Performance in the past
                            does not guarantee performance in the future.
                        </li>
                        <li class="service-pt py-3">
                            Investors are not provided with any certain or guaranteed returns. </li>
                        <li class="service-pt">
                            In relation to the contents of, or use of, this website/mobile apps, or otherwise in
                            connection therewith, Expert Invester and its group companies, directors, employees,
                            affiliates, and associates will not be liable to you (under the law of contracts, the law of
                            torts, or otherwise under any other law) for any direct or indirect, special or
                            consequential loss; or for any business losses, loss of revenue, income, profits, or
                            anticipated savings; loss of contracts or business.
                        </li>
                        <li class="service-pt py-3">
                            No information on this website or application should be interpreted as investment advice.
                            Ideas, analyses, statistics, reports, and plans are all provided on this website/app solely
                            for informational and illustrative purposes. </li>
                        <li class="service-pt">
                            Users should use their own judgment in light of their risk appetite and investment
                            objectives or consult a certified financial advisor before making any actual investment or
                            trading decisions. The information on this website/app may not be suitable for all
                            investors.
                        </li>
                        <li class="service-pt py-3">
                            As a result, you will independently research and assess each Expert (RIA/RA/Others) that you
                            may be considering hiring. </li>
                        <li class="service-pt">
                            The data on the website/app is presented "as is," "as available," and without any
                            representation or warranty of any kind. While the company makes every effort to ensure that
                            the information is accurate, it cannot be guaranteed or warranted explicitly or impliedly
                            because information may be missing, erroneous, or out of date. </li>
                        <li class="service-pt py-3">
                            Expert Invester specifically emphasizes that it has no financial responsibility of any kind
                            to the subscribers, users, transmitters, or distributors of the contents of its website or
                            mobile apps. Expert Invester is not liable for any transmission faults.
                        </li>
                        <li class="service-pt">
                            Technological Risks: Expert Invester disclaims all liability for any errors or delays
                            resulting from malfunctions with its platform.
                            <ul>
                                <li class="py-3">
                                    Expert Invester disclaims all responsibility for any delays or interruptions in your
                                    access to the website, mobile application, or any of the content therein, as well as
                                    for any transmission errors, equipment or software incompatibilities, unavoidable
                                    circumstances beyond its control, or other performance flaws. While Expert Invester
                                    will make a reasonable attempt to remedy any performance issues, it will not be
                                    compelled to modify any hardware or software used by the company, its contractors,
                                    or its agents in order to assure compatibility with any hardware or software used by
                                    you.
                                </li>
                                <li class="py-3">
                                    Users are informed of "SIGNALS" and "Updates" shared by our Experts via email,
                                    in-app push, mobile SMS, and WhatsApp notifications. By using this service, the user
                                    confirms that they are aware that its delivery depends on a variety of variables,
                                    including their internet connection, their location, the time of day, the load on
                                    the servers, the availability of their data, etc.
                                </li>
                            </ul>
                        </li>
                        <li class="service-pt ">By using this website/mobile app, you acknowledge and agree that the
                            exclusion and liability limitations stated in this disclaimer are fair. You must not use
                            this website/mobile app if you do not believe that they are reasonable. </li>
                        <li class="service-pt py-3">
                            Please drop us an email at support@expertinvester.com if you have any queries about this
                            disclaimer or the policies of the Site. </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
