<section class="container my-5">
  <form [formGroup]="AddExpertInvestorForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-10 mx-auto">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Expert-Investor-Form</h5>
          <!-- General Form Elements -->
            <div class="row">
              <div class="col-lg-6">
                <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-person px-2"></i>User Name</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" (keypress)="omit_special_char($event)" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.name.errors }">
                    <div *ngIf=" submitted && ExpertInvestorControl.name.errors" class="invalid-feedback">
                      <div *ngIf="ExpertInvestorControl.name.errors.required">Name is required.</div>
                    </div>
                  </div>
                </div>
               
                <!-- <div class="row mb-3">
                  <label for="inputText" class="col-lg-4 col-form-label form-line"><i class="bi bi-tablet px-2"></i>Mobile No.</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" (keypress)="keyPressNumbers($event)" formControlName="mobileno"
                    [ngClass]="{ 'is-invalid': (submitted || submitPhone) && ExpertInvestorControl.mobileno.errors  }">
                    <div *ngIf="(submitted || submitPhone )  && ExpertInvestorControl.mobileno?.errors " class="invalid-feedback">             
                      <div *ngIf="ExpertInvestorControl.mobileno.errors?.validatePhoneNumber ">Phone number is invalid.</div>
                      <div *ngIf="ExpertInvestorControl.mobileno.errors?.maxLength ">Phone number is invalid.</div>
                      <div *ngIf="ExpertInvestorControl.mobileno.errors?.required ">Phone number is required.</div>
                    </div>  
                  </div>
                </div> -->


                <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Expert Type</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="experttype" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.experttype.errors }">
                    <div *ngIf=" submitted && ExpertInvestorControl.experttype.errors" class="invalid-feedback">
                      <div *ngIf="ExpertInvestorControl.experttype.errors.required">Expert Type is required.</div>
                    </div>
                  </div>
                </div>
            <fieldset class="row mt-2 mb-3">
              <legend class="col-form-label col-lg-6 pt-0 form-line"><i class="bi bi-r-circle px-2"></i>Are you SEBI registered</legend>
              <div class="col-lg-6 d-flex justify-content-around">
                <div class="form-check">
                  <input class="form-check-input" type="radio" [value]="true" formControlName="IsSEBI"  >
                  <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [value]="false" formControlName="IsSEBI">
                  <label class="form-check-label" >No</label>
                </div>
               
              </div>
            </fieldset>

            <div class="row mb-3" *ngIf="AddExpertInvestorForm.value.IsSEBI == true">
              <label for="inputPassword" class="col-lg-4 col-form-label form-line"><i class="bi bi-bank px-2"></i>SEBI Reg.No</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName="SEBIRegNo" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.SEBIRegNo.errors }">
                <div *ngIf=" submitted && ExpertInvestorControl.SEBIRegNo.errors" class="invalid-feedback">
                  <div *ngIf="ExpertInvestorControl.SEBIRegNo.errors.required">SEBI Reg.No is required.</div>
                </div>
                <div class="edit-icon">
                  <label for="file-input">
                    <i class="bi bi-paperclip"></i>Attached SEBI reg. certificate PDF
                    <p *ngIf="fileName != ''">{{fileName}}</p>
                </label>
                <input id="file-input" type="file" accept="pdf" class="cstm-file" (change)="onSelectFile($event)">
              </div>
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputNumber" class="col-lg-4 col-form-label form-line"><i class="bi bi-person-vcard px-2"></i>Account Name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName="accountname"  [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.accountname.errors }">
                <div *ngIf=" submitted && ExpertInvestorControl.accountname.errors" class="invalid-feedback">
                  <div *ngIf="ExpertInvestorControl.accountname.errors.required">Account Name is required.</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Bank Name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" formControlName="bankname" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.bankname.errors }">
                <div *ngIf=" submitted && ExpertInvestorControl.bankname.errors" class="invalid-feedback">
                  <div *ngIf="ExpertInvestorControl.bankname.errors.required">Bank Name is required.</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputNumber" class="col-lg-4 col-form-label form-line"><i class="bi bi-book px-2"></i>Knowledge Level</label>
              <div class="col-lg-8">
                <!-- <input type="text" class="form-control" formControlName="knowledgelevel" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.knowledgelevel.errors }"> -->
                <select class="form-select" aria-label="Default select example" formControlName="knowledgelevel" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.knowledgelevel.errors }">
                  <option [value]="item" *ngFor="let item of knowledgeLevel">{{item}}</option>
                </select>
                <div *ngIf=" submitted && ExpertInvestorControl.knowledgelevel.errors" class="invalid-feedback">
                  <div *ngIf="ExpertInvestorControl.knowledgelevel.errors.required">Knowledge Level is required.</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword" class="col-lg-4 col-form-label form-line"><i class="bi bi-pencil px-2"></i>About Us</label>
              <div class="col-lg-8">
                <textarea class="form-control" formControlName="aboutus" style="height: 80px"[ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.aboutus.errors }"></textarea>
                
                    <div *ngIf=" submitted && ExpertInvestorControl.aboutus.errors" class="invalid-feedback">
                      <div *ngIf="ExpertInvestorControl.aboutus.errors.required">About Us is required.</div>
                    </div>
              </div>
            </div>
              </div>
              <div class="col-lg-6">
                <!-- <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>User Type</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="mobileno">
                  </div>
                </div> -->
                <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Email*</label>
                  <div class="col-lg-8">
                    <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.email.errors }" maxlength="50">
                    <div *ngIf=" submitted && ExpertInvestorControl.email.errors" class="invalid-feedback">
                      <div *ngIf="ExpertInvestorControl.email.errors.required">Email is required.</div>
                      <div *ngIf="ExpertInvestorControl.email.errors.email">Email is invalid.</div>
                    </div>
                  </div>
                </div>
<!--I am expert-->
                <div class="row mb-3">
                  <label class="col-lg-4 col-form-label form-line"><i class="bi bi-explicit px-2"></i>I am Expert </label>
                  <div class="col-lg-8"> 
                    <select class="form-select" aria-label="Default select example" formControlName="country" (change)="getCountry(AddExpertInvestorForm.value.country)" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.experttype.errors }">
                      <option [value]="item.countryName" *ngFor="let item of country">{{item.countryName}}</option>
                    </select>
                    <div *ngIf=" submitted && ExpertInvestorControl.experttype.errors" class="invalid-feedback">
                      <div *ngIf="ExpertInvestorControl.experttype.errors.required">Expert type is required.</div>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Account No</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="accountnumber" (keypress)="keyPressNumbers($event)" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.accountnumber.errors }">
                    <div *ngIf=" submitted && ExpertInvestorControl.accountnumber.errors" class="invalid-feedback">
                      <div *ngIf="ExpertInvestorControl.accountnumber.errors.required">Account No is required.</div>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Bank IFSC Code</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" formControlName="bankIFSCcode" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.bankIFSCcode.errors }">
                    <div *ngIf=" submitted && ExpertInvestorControl.bankIFSCcode.errors" class="invalid-feedback">
                      <div *ngIf="ExpertInvestorControl.bankIFSCcode.errors.required">Bank IFSC Code is required.</div>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-lg-4 col-form-label form-line"><i class="bi bi-database px-2"></i>Experience</label>
                  <div class="col-lg-8">
                    <!-- <input type="text" class="form-control" formControlName="experience" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.experience.errors }"> -->
                    <select class="form-select" aria-label="Default select example" formControlName="experience" [ngClass]="{ 'is-invalid': submitted && ExpertInvestorControl.experience.errors }">
                      <option [value]="item" *ngFor="let item of experience">{{item}}</option>
                    </select>
                    <div *ngIf=" submitted && ExpertInvestorControl.experience.errors" class="invalid-feedback">
                      <div *ngIf="ExpertInvestorControl.experience.errors.required">Experience is required.</div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-lg-4 col-form-label form-line"><i class="bi bi-person-video3 px-2"></i>I Want idea
                    on </label>
                  <div class="col-lg-8">
                    <button type="button" class="btn btn-primary w-100" [disabled]="ideaOn.length == 0" (click)="openPopUp()">I Want idea on</button>
                    <div *ngIf="submitted && ideaOnlist.length == 0" style="color: red;">Please select at least one</div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="row mb-3 mt-3">
              <div class="col-lg-6 mx-auto">
                <!-- <button class="btn btn-primary w-100 " type="submit">Submit</button> -->
                <button class="btn btn-primary w-100 " type="submit" [disabled]="isLoading">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
                   <span *ngIf="!isLoading">Submit</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


     <!-- Modal -->
     <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
           <button type="button" class="close" (click)="closePopUp()">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <div class="d-flex" *ngFor="let item of ideaOn">
             <input type="checkbox" formControlName="ideaOn" (change)="getIdeaOn(AddExpertInvestorForm.value.ideaOn,item,item.ideaOn)">
             <label for="scales">{{item.ideaOn}}</label>
           </div>
         </div>
         <div class="modal-footer">
           <!-- <button type="button" class="btn btn-secondary" (click)="closePopUp()">Close</button> -->
           <button type="button" class="btn btn-primary" (click)="closePopUp()">Save changes</button>
         </div>
       </div>
     </div>
   </div>
  </form>
</section>