<section class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="px-3 mt-2">Club List</h1>
      <div class="card list-card" style="height: 70vh; overflow: auto;">
        <div class="card-body" >

          <!-- Bordered Tabs Justified -->

          <div class="card pt-2" id="borderedTabJustifiedContent" *ngFor="let data of clubList">
            <div class="" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="example" >
                <div class=" py-3">
                  <div class="container">
                    <div class="row">
                      <div class="channel-name d-flex justify-content-between align-items-center py-2">
                        <span class="club-header"> {{data.name}}</span> <span class="">
                          <button type="button" class="btn follow-btn" (click)="followClub(data.id)" *ngIf="data.follow == 'Follow'">{{data.follow}}</button>
                          <button type="button" class="btn follow-btn" (click)="unFollowClub(data.id)" *ngIf="data.follow == 'Followed'">{{data.follow}}</button>
                          </span>
                      </div>
                      <div class="">
                        <p class="club-dis">{{data.description}}</p>
                      </div>

                    </div>
                  </div>
                  <div class="container expect-section my-2" style="width: 90%;">
                    <div class="grid-data d-flex  ">

                      <div class="col-5  border-end ">
                        <div class="d-flex "><span class="club-icon "><i class="bi bi-eye"></i></span><span
                            class="club-inf">Impression</span></div>
                        <div class="club-icon px-2">{{data.likecount}}</div>
                      </div>
                      <div class="col-4 px-2 border-end">
                        <div class="d-flex "><span class="club-icon"><i class="bi bi-chat-left"></i></span><span
                            class="club-inf">Followers</span></div>
                        <div class="club-icon px-2">{{data.followersCount}}</div>
                      </div>
                      <div class="col-3  px-1">
                        <div class="d-flex "><span class="club-icon"><i class="bi bi-pencil-square "></i></span><span
                            class="club-inf">Post</span></div>
                        <div class="club-icon px-3">{{data.postcount}}</div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>

            </div>
          </div><!-- End Bordered Tabs Justified -->

        </div>
      </div>

      <div class="d-flex justify-content-end mb-2" >
        <button class="btn follow-btn"  [disabled]="count < 3" (click)="goToHomePage()">Next</button>
      </div>
    </div>


  </div>
</section>
