<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="../../../../assets/img/logo.png" alt="">
                <span class="d-none d-lg-block"></span>
              </a>
            </div>

            <div class="card list-card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Getting <span class="marktext">Started</span></h5>
                  <p class="text-center small">Create an account to continue</p>
                </div>

                <form class="row g-3 needs-validation" [formGroup]="SendOtpForm" (ngSubmit)="sendOtp()">

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Mobile Number</label>
                    <div class="row">
                      <div class="input-group has-validation">
                        <!-- <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-telephone-fill"></i></span> -->
                        <div class="col-2">
                          <select class="form-control" formControlName="code" [ngModel]="'+91'">
                            <option [value]="item.CountryISDCode" *ngFor="let item of countryCodes">
                              {{item.CountryISDCode}}</option>
                          </select>
                          <!-- <input type="text" [value]="+91" disabled class="form-control"> -->
                        </div>
                        <div class="col-9">
                          <input type="text" name="Mobile Number" class="form-control" formControlName="mobile_No"
                            maxlength="10"
                            [ngClass]="{ 'is-invalid' : submitted && SendOtpFormControl['mobile_No']['errors']}"
                            (keypress)="keyPressNumbers($event)">
                          <div *ngIf="submitted && SendOtpFormControl['mobile_No']['errors']" class="invalid-feedback">
                            <div *ngIf="SendOtpFormControl['mobile_No']['errors']['required']">Mobile Number is
                              required.</div>
                            <div *ngIf="SendOtpFormControl['mobile_No']['errors']['pattern']">Please, Enter 10 digit
                              Mobile Number.</div>
                          </div>
                          <div style="color: red;" *ngIf="submitted && message != ''">
                            {{message}}
                          </div>

                        </div>

                      </div>
                    </div>

                  </div>



                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" formControlName="PrivacyPolicy" name="remember"
                        value="true" id="rememberMe"
                        [ngClass]="{ 'is-invalid' : submitted && SendOtpFormControl['PrivacyPolicy']['errors']}">
                      <label class="form-check-label">I agree to the <span class="login-line"
                          routerLink="terms-of-services">Terms of
                          Service </span> and <span class="login-line" routerLink="privacy-policy">Privacy
                          Policy</span></label>
                      <div *ngIf="submitted && SendOtpFormControl['PrivacyPolicy']['errors']" class="invalid-feedback">
                        <div *ngIf="SendOtpFormControl['PrivacyPolicy']['errors']['required']">Required *</div>

                      </div>

                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100 " type="submit" [disabled]="isLoading">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                        *ngIf="isLoading"></span>
                      <span *ngIf="!isLoading">Start</span>
                    </button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</main>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" (click)="closeModelPopUp()"></button>
      </div>
      <div class="modal-body">
        <div class="container d-flex justify-content-center align-items-center">
          <div class="card text-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="../../../../assets/img/logo.png" alt="">
                <span class="d-none d-lg-block"></span>
              </a>
            </div>

            <div class="card-header p-5">
              <h5 class="mb-2">Enter authentication code</h5>
              <div>
                <small>Enter 6-digit code we just texted to your phone number, <span
                    class="login-line">{{mobileNumbr}}</span></small>
              </div>
            </div>
            <div class="input-container d-flex flex-row justify-content-center mt-2">
              <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent"
                [config]="config"></ng-otp-input>
            </div>
            <div *ngIf="submitted && otp == ''">
              <div style="color: red;">Otp Number is required.</div>
            </div>
            <div>
              <small>
                didn't get the otp
                <a class="text-decoration-none" (click)="sendOtp()" style="cursor: pointer;">Resend</a>
              </small>
            </div>
            <div class="mt-3 w-100 ">
              <button class="btn btn-success px-4 verify-btn" type="submit" (click)="verifyOtp()">Continue</button>
            </div>
            <div class="mt-2 mb-5">
              <!-- <button class="btn   Resend-btn" >Resend code</button> -->
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>