<footer id="footer"
            class="text-center text-lg-start footer bg-footer"
          >
      <!-- Grid container -->
      <section class="container-fluid pt-0 ">
        <div class="row  align-items-center p-2">
          <!-- Grid column -->
          <div class=" col-lg-8  text-md-start">
            <!-- Copyright -->
            <div class="copyright">
              &copy; Copyright <strong><span>ExpertInvestor</span></strong>. All Rights Reserved
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class=" col-lg-4 ">
            <!-- Facebook -->
            <a href="https://www.facebook.com/ExpertInvester" target="_blank"
               class="btn social-icon btn-floating m-1"

               role="button"
               ><i class="bi bi-facebook"></i></a>

            <!-- Twitter -->
            <a href="https://twitter.com/expertinvester" target="_blank"
               class="btn social-icon  btn-floating "

               role="button"
               ><i class="bi bi-twitter"></i></a>

            <!-- Google -->
            <a href="https://in.pinterest.com/expertinvester/" target="_blank"
               class="btn social-icon btn-floating m-1"

               role="button"
               ><i class="bi bi-pinterest"></i></a>

            <!-- Instagram -->
            <a href="https://www.instagram.com/expertinvesteridea/" target="_blank"
               class="btn social-icon btn-floating "

               role="button"
               ><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/expert-invester/?" target="_blank"
               class="btn social-icon btn-floating "

               role="button"
               ><i class="bi bi-linkedin"></i></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Grid container -->
    </footer>
