<footer id="footer"
            class="text-center text-lg-start footer bg-footer"
          >
      <!-- Grid container -->
      <section class="container-fluid pt-0 ">
        <div class="row  align-items-center p-2">
          <!-- Grid column -->
          <div class=" col-lg-8  text-md-start">
            <!-- Copyright -->
            <div class="copyright">
              &copy; Copyright <strong><span>Fit-on-Face</span></strong>. All Rights Reserved
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class=" col-lg-4 ">
            <!-- Facebook -->
            <a
               class="btn social-icon btn-floating m-1"

               role="button"
               ><i class="bi bi-facebook"></i></a>

            <!-- Twitter -->
            <a
               class="btn social-icon  btn-floating "

               role="button"
               ><i class="bi bi-twitter"></i></a>

            <!-- Google -->
            <a
               class="btn social-icon btn-floating m-1"

               role="button"
               ><i class="bi bi-google"></i></a>

            <!-- Instagram -->
            <a
               class="btn social-icon btn-floating "

               role="button"
               ><i class="bi bi-instagram"></i></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Grid container -->
    </footer>
