<!-- <div class="container">
    <div class="pagetitle p-2">
        <h1>Settings</h1>
    </div>
    <form>
        <div class="card">
            <div class="card-body list-card">
            <div class="">
                <div class="col-8">
                    <div class="container">
                        <label class="form-label">Social Link</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            </div>
        </div>
       
    </form>
</div> -->
<p>Setting page work</p>