  <!-- ======= Header ======= -->
  <app-top-bar></app-top-bar>
 <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <app-side-bar></app-side-bar>
  <!-- End Sidebar-->
  <main id="main" class="main" [ngClass]="toggleSideBar == false ? 'cstm' : 'main'">
   <div class="">
      <div class="row">
         <div class="col-lg-8 mt-2" [ngClass]="hide == true ? 'col-lg-12' : 'col-lg-8'">
            <router-outlet></router-outlet>
         </div>
         
         <div class="col-lg-4 mt-2 common-section" *ngIf="!hide">
            <app-common-section ></app-common-section>
         </div>
   
      </div>

   </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <!-- <app-footer></app-footer> -->
 <!-- End Footer -->

 <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
