<div class="container">
  <div class="innerwrap">

    <section class="section1 clearfix">
      <div class="textcenter">
        <span class="shtext">Contact Us</span>
        <span class="seperator"></span>
        <h1>Drop Us a Mail</h1>
      </div>
    </section>

    <section class="section2 clearfix">
      <div class="col2 column1 first">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.2233913121413!2d77.4051603706222!3d28.50292593193056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce626851f7009%3A0x621185133cfd1ad1!2sGeeksforGeeks!5e0!3m2!1sen!2sin!4v1585040658255!5m2!1sen!2sin"
          width="600" height="600" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col2 column2 last">
        <div class="sec2innercont">
          <div class="sec2addr">
            <p>45 BC, a Latin professor at Hampden-Sydney College in Virginia</p>
            <p><span class="collig">Phone :</span> +91 976885083</p>
            <p><span class="collig">Email :</span> vivek.mengu016@gmail.com</p>
            <p><span class="collig">Fax :</span> +91 9768850839</p>
          </div>
        </div>
        <div class="sec2contactform">
          <h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
          <form [formGroup]="contactUsForm" (ngSubmit)="submit()">
            <div class="clearfix">
              <input class="col2 first" type="text" formControlName="firstName" placeholder="FirstName" [ngClass]="{ 'is-invalid': submitted && contactUsControl.firstName.errors }">
              <div *ngIf=" submitted && contactUsControl.firstName.errors" class="invalid-feedback">
                <div *ngIf="contactUsControl.firstName.errors.required">First Name is required.</div>
              </div>
              <input class="col2 last" type="text" formControlName="lastName" placeholder="LastName" [ngClass]="{ 'is-invalid': submitted && contactUsControl.lastName.errors }">
              <div *ngIf=" submitted && contactUsControl.lastName.errors" class="invalid-feedback">
                <div *ngIf="contactUsControl.lastName.errors.required">Last Name is required.</div>
              </div>
            </div>
            <div class="clearfix">
              <input class="col2 first" type="Email" formControlName="email" placeholder="Email"
                [ngClass]="{ 'is-invalid': submitted && contactUsControl.email.errors }" maxlength="50">
              <div *ngIf=" submitted && contactUsControl.email.errors" class="invalid-feedback">
                <div *ngIf="contactUsControl.email.errors.required">Email is required.</div>
                <div *ngIf="contactUsControl.email.errors.email">Email is invalid.</div>
              </div>
              <input class="col2 last" type="text" formControlName="mobileNumber" placeholder="Contact Number" [ngClass]="{ 'is-invalid': submitted && contactUsControl.mobileNumber.errors }">
              <div *ngIf=" submitted && contactUsControl.mobileNumber.errors" class="invalid-feedback">
                <div *ngIf="contactUsControl.mobileNumber.errors.required">Mobile Number is required.</div>
              </div>
            </div>
            <div class="clearfix">
              <textarea name="textarea" id="" cols="30" formControlName="description"
                rows="7">Your message here...</textarea>
                <div *ngIf=" submitted && contactUsControl.description.errors" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && contactUsControl.description.errors }">
                  <div *ngIf="contactUsControl.description.errors.required">Message is required.</div>
                </div>
            </div>
            <div class="clearfix"><input type="submit" value="Send"></div>
          </form>
        </div>

      </div>
    </section>

  </div>
</div>