  <!-- ======= Header ======= -->
  <app-top-bar></app-top-bar>
 <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <app-side-bar ></app-side-bar>
  <!-- End Sidebar-->
  <main id="main" class="main" [ngClass]="toggleSideBar == false ? 'cstm' : 'main'">
   <div class="" [ngClass]="{'my-cls' : toggleSideBar == false && screenWidth < 1200}">
      <div class="row" >
         <div class="col-lg-8 mx-auto mt-2" [ngClass]="hide == true ? 'col-lg-12' : 'col-lg-8'">
            <router-outlet ></router-outlet>
         </div>

         <div class="col-lg-4 mx-auto mt-2 common-section" [ngClass]="screenWidth < 992 ? 'd-none' : ''" *ngIf="!hide">
            <app-common-section ></app-common-section>
         </div>

      </div>

   </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <app-footer></app-footer>
 <!-- End Footer -->

