<!-- End Page Title -->
<div class="d-flex justify-content-center" *ngIf="isLoading == true" style="height: 50vh; align-items: center;">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

  <section class="p-2" *ngIf="isLoading == false">
    <div class="row">
      <div class="mx-auto">
        <div class="card list-card ">
          <div class="pagetitle">
            <h1 class="pt-2"><i class="bi bi-arrow-left px-2" (click)="goBack()"></i> Detail page</h1>

          </div>
          <div class="mx-2 ">


            <!-- Bordered Tabs Justified -->

            <div class="example" *ngFor="let items of feedPostChannelDetail">
              <div class="card">
                <div class="m-2">
                  <div class="row">
                    <div class="d-flex justify-content-between align-items-baseline py-2">
                      <h6 class="heading">{{items.channelname}}</h6>
                      <!-- <span class=" subscript"><i class="bi bi-lock-fill lock-icon"></i> Free Access</span> -->
                    </div>

                  </div>
                  <div class="row">
                    <div class="channel-name">
                      <i class="bi bi-lightbulb"></i>{{items.stockname}}
                    </div>
                    <!-- <div class="channel-detail">
                      [ Update 4] DSSL DYNACON SYSTEM
                    </div>

                    <div class="DSSL py-1">#DSSL</div> -->
                    <!-- <div class="date">27 Jan 2023, 06:43 PM</div> -->
                  </div>

                  <div class="container">
                    <div class="row expect-section my-3 ">
                      <div class="expect-inf d-flex justify-content-between pb-2 ">
                        <div>
                          <div class="expect">
                            Expected Move
                          </div>
                          <div class="expect-percent">{{expectedMove | number : '1.2-2'}} %</div>
                        </div>
                        <div class="channel-detail">{{items.stockname}}</div>
                        <div></div>
                      </div>
                      <div>
                        <span class="line ">IRB</span> <span class="equity-btn px-2">Equity</span>
                        <div class="row d-flex text-center py-2">
                          <div class="col-4">
                            <div class="price">Entry Price</div>
                            <div class="rate">{{items.entryprice}} </div>
                          </div>
                          <div class="col-4">
                            <div class="price">Target Price</div>
                            <div class="rate">{{items.targetprice}}</div>
                          </div>
                          <div class="col-4">
                            <div class="price">Stop Loss</div>
                            <div class="rate">{{items.stoploss}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container">
                    <div class="row"
                      *ngIf="items.imageurl != 'http://103.117.66.70:5002/FitOnFace/' && items.imageurl != 'https://api.expertinvester.com/FitOnFaceImages/' && items.imageurl != '' && items.imageurl != null">
                      <img  [src]="items.imageurl" alt="" class="manageimg">
                    </div>
                  </div>
                  <div class="row py-2">
                    <div class="col-4 risk">
                      <div class="position-btn"><svg width="12" height="12" viewBox="0 0 12 12"
                          fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="6" cy="6" r="6" fill="#ED1C24" />
                        </svg>
                        High Risk</div>
                    </div>
                    <div class="col-8 months">
                      <div type="button" class=" position-btn"><i class="bi bi-clock px-1"></i>Positional
                        Trading (1-3 Months)</div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <h6 class="dis-line py-2">DSSL 10%  UC LOCKED NOW 520</h6>
                  </div>
                  <div class="row ">
                    <h6 class="DSSL py-1">RECENT UPDATES</h6>
                    <div class="stepper d-flex flex-column mt-2 ml-2">
                      <div class="d-flex mb-1">
                        <div class="d-flex flex-column pr-4 align-items-center">
                          <div class="rounded-circle py-2 px-3 bg-danger text-white mb-1">1</div>
                          <div class="line h-100"></div>
                        </div>
                        <div class="px-3">
                          <h6 class=" update">[Update 4] 03 feb 2023, 10:20 AM</h6>
                          <p class="lead  pb-3">DSSL 440 TO 507 NOW MORE THAN 13%</p>
                        </div>
                      </div>
                      <div class="d-flex mb-1">
                        <div class="d-flex flex-column pr-4 align-items-center">
                          <div class="rounded-circle py-2 px-3 bg-danger text-white mb-1">2</div>
                          <div class="line h-100"></div>
                        </div>
                        <div class="px-3">
                          <h6 class=" update">[Update 3] 03 feb 2023, 10:20 AM</h6>
                          <p class="lead  pb-3">DSSL 440 TO 507 NOW MORE THAN 13%</p>
                        </div>
                      </div>
                      <div class="d-flex mb-1">
                        <div class="d-flex flex-column pr-4 align-items-center">
                          <div class="rounded-circle py-2 px-3 bg-danger text-white mb-1">3</div>
                          <div class="line h-100"></div>
                        </div>
                        <div class="px-3">
                          <h6 class="update ">[Update 2] 03 feb 2023, 10:20 AM</h6>
                          <p class="lead  pb-3">DSSL 440 TO 507 NOW MORE THAN 13%</p>
                        </div>
                      </div>
                      <div class="d-flex mb-1">
                        <div class="d-flex flex-column pr-4 align-items-center">
                          <div class="rounded-circle py-2 px-3 bg-danger text-white mb-1">4</div>
                          <div class="line h-100 d-none"></div>
                        </div>
                        <div class="px-3">
                          <h6 class="update">[Update 1] 03 feb 2023, 10:20 AM  </h6>
                          <p class="lead  pb-3">DSSL 440 TO 507 NOW MORE THAN 13%</p>
                        </div>
                      </div>

                    </div>
                  </div> -->
                  <div class="d-flex justify-content-between">
                    <div>
                      <span (click)="like(items.channelId, !items.isLiked)">
                        <i class="bi bi-hand-thumbs-up px-2" *ngIf="items.isLiked == false">{{items.likeCount}}</i>
                        <i class="bi bi-hand-thumbs-up-fill px-2" *ngIf="items.isLiked == true">{{items.likeCount}}</i>
                      </span>
                      <span><i class="bi bi-share-fill"></i></span>
                    </div>
                    <div>
                      <i class="bi bi-bookmark-fill"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Bordered Tabs Justified -->

          </div>
        </div>

      </div>


    </div>
  </section>
