.search-bar {
  padding: 12px;
}


.btn-outline-secondary{    background: #6038dd;
  color: #fff;
  border: 0;
  box-shadow: 0 0.75rem 8rem 4px rgb(8 22 38 / 25%);}


.pagetitle {
  position: sticky;
  top: 4px;
  z-index: 999;
  background: #fff;
}

.search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 15px;
  transition: 0.3s;
  width: 100%;
}

.search-form input:focus,
.search-form input:hover {
outline: none;
box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
border: 1px solid rgba(1, 41, 112, 0.3);
}
.search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}
.search-form button i {
  color: #012970;
}

.user-icon {
  font-size: 66px;
  color: #FDCDE7;
}
.select-icon{
color:#F61C7A ;
}
.heading-line{
color: #4D455D;
}

.follow-name{
font-weight: 600;
}

.follow-dropdown{
list-style: none;
}

.user-name {
color: black;
font-weight: 600;
}

.verification-icon {
color: #0081C9;
}

.post-img{
border-radius: 12px;
}

.trending-name {
font-size: 14px;
}
span.title-name {
font-size: 16px;
font-weight: 600;
color: black;
}

.hashtag-line {
font-size: 14px;
color: #4D455D;
}
.hashtag {
font-size: 14px;
color: #0081C9;
}

.user_name {
  font-size: 20px;
  font-weight: 600;
  color: #496333;
}

.detail {
font-size: 14px;
font-weight: 600;
color: #03314B;
margin-bottom: 5px;
}

.percent {
font-size: 13px;
font-weight: 600;
color: #3500D4;
}

.row.user_informatiom {
border-bottom: 2px solid #FFD859;
border-radius: 3px;
}

span.subscript {
padding: 9px;
border: 2px solid #FFD859;
border-radius: 36px;
font-size: 14px;
font-weight: 600;
}
i.lock-icon {
color: #496333;
}

.channel-name {
font-size: 15px;
font-weight: 600;
color: #F61C7A;
}

.channel-detail {
font-weight: 600;
color: #000;
}

.date {
font-size: 13px;
font-weight: 400;
color: #979797;
}

h6.heading {
  font-size: 19px;
  font-weight: 600;
  color: #496333;
  margin-bottom: 0;
  text-transform: uppercase;
  margin-top: 24px;
}

.expect-section {

border: 2px solid #F61C7A;
border-radius: 8px;
}
.expect {
font-size: 14px;
font-weight: 600;
color: #979797;
}

.expect-percent {
font-size: 16px;
font-weight: 500;
color: #E6A376;
}

.expect-inf {
border-bottom: 2px solid #FF9E03;
}

span.line {
font-weight: 500;
color: #E6A376;
}
span.equity-btn {
padding: 5px;
font-size: 10px;
font-weight: 600;
background: #F5F5F5;
border-radius: 4px;
}

.price {
font-size: 14px;
font-weight: 400;
color: #03314B;
}

.rate {
font-size: 18px;
font-weight: 400;
color: #E6A376;
}

.dot{
font-size: 20px;
color: red;
}
.risk-btn {
padding: 10px;
color: black;
border-radius: 10px;
background: #FDCDE7;
}
.position-btn{
padding: 10px;
color: black;
border-radius: 10px;
background: #FDCDE7;
}

.dis-line{
font-size: 16px;
font-family: 'Inter Tight', sans-serif;
line-height: 28px;
color: #000;
}

.dis{
font-size: 14px;
font-weight: 600;
color: #3500D4;
}

button.btn.follow-btn {
background: #F61C7A;
color: #fff;
font-weight: 700;
}

.club-dis{
color: #496333;
}
.club-header{
font-size: 20px;
font-weight: 600;
color: #03314B;
}

.club{
border-right: 1px solid #979797;
}

.club-icon {
color: #F61C7A;
}

span.club-inf {
font-size: 14px;
font-weight: 600;
color: #979797;
}

.club-dis{
font-size: 14px;
color: #496333;
font-weight: 600;
}

.example::-webkit-scrollbar {
display: none;
}

.example {
-ms-overflow-style: none;
scrollbar-width: none;
}

@media screen and (min-width: 320px) and (max-width: 416px) {
  .club-header {
    font-size: 15px;
    font-weight: 600;
    color: #03314B;
}
  .danger-btn {
    font-size: 10px;
}
  .percent {
    font-size: 8px;
    font-weight: 600;
    color: #3500D4;
}
  .detail {
    font-size: 10px;
    font-weight: 600;
    color: #03314B;
}
  .club-icon {
    padding-right: 2px;
    padding-left: 0px;
    font-size: 9px;
    color: #F61C7A;
  }
  .user_name {
    font-size: 12px;
    font-weight: 700;
    color: #496333;
}
  span.club-inf {
    font-size: 8px;
    font-weight: 600;
    color: #979797;
}
.user-icon {
  font-size: 30px;
  color: #FDCDE7;
}
.risk-btn {
  font-size: 9px;
  padding: 6px 4px;
  color: #03314B;
  border-radius: 2px;
  background: #DEF4FF;
}
.price {
  font-size: 9px;
  font-weight: 600;
  color: #03314B;
  padding: 0 !important;
  margin: 0 !important;
}
.club-icons{
  justify-content: center;
}
.card-title {
  padding: 20px 0 15px 0;
  font-size: 12px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}
.trending-name {
  font-size: 12px;
}
span.title-name {
  font-size: 12px;
  font-weight: 600;
  color: black;
}
.hashtag-line {
  font-size: 12px;
  color: #4D455D;
}
.hashtag {
  font-size: 12px;
  color: #0081C9;
}
.pagetitle h1 {
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}
.channel-name {
  font-size: 7px;
  font-weight: 600;
  color: #F61C7A;
}
.fol {
  font-size: 12px;
}
.prices {
  font-size: 9px;
  font-weight: 600;
  color: #496333;
  margin: 0;
}
h6.heading {
  font-size: 13px;
  font-weight: 600;
  color: #496333;
  margin: 0;
  padding: 0;
}
span.subscript {
  padding: 6px;
  border: 2px solid #FFD859;
  border-radius: 36px;
  font-size: 9px;
  font-weight: 600;
}
.club-dis {
  font-size: 10px;
  color: #496333;
  font-weight: 600;
}
.risks-btn {
  padding: 5px;
  color: #03314B;
  border-radius: 5px;
  background: #FDCDE7;
  font-size: 10px;
}
.dis-line {
  font-size: 12px;
  font-weight: 600;
  color: #000;
}
.position-btn {
  padding: 3px;
  color: black;
  border-radius: 5px;
  background: #FDCDE7;
  font-size: 9px;
}
.heading-line{
  color: #4D455D;
    font-size: 15px;
}
.user-icon {
  font-size: 35px;
  color: #FDCDE7;
}
.select-icon {
  font-size: 16px;
  color: #F61C7A;
}
.primary-btn {
  font-size: 10px;
}
.channel-detail {
  font-size: 12px;
  font-weight: 600;
  color: #000;
}
.date {
  font-size: 10px;
  font-weight: 400;
  color: #979797;
}
.expect {
  font-size: 10px;
  font-weight: 500;
  color: #979797;
}
.expect-percent {
  font-size: 13px;
  font-weight: 500;
  color: #E6A376;
}
.rate {
  font-size: 13px;
  font-weight: 400;
  color: #E6A376;
}
span.line {
  font-weight: 500;
  font-size: 12px;
  color: #E6A376;
}
.dis {
  font-size: 10px;
  font-weight: 600;
  color: #3500D4;
}
button.btn.follow-btn {
  background: #F61C7A;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  padding: 4px;
}
}

@media screen and (min-width: 415px) and (max-width: 501px) {
  .club-header {
    font-size: 15px;
    font-weight: 600;
    color: #03314B;
}
  .danger-btn {
    font-size: 10px;
}
  button.btn.follow-btn {
    background: #F61C7A;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    padding: 4px;
  }
  .dis {
    font-size: 10px;
    font-weight: 600;
    color: #3500D4;
}
  .dis-line {
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
  .percent {
    font-size: 10px;
    font-weight: 600;
    color: #3500D4;
}
  .detail {
    font-size: 12px;
    font-weight: 600;
    color: #03314B;
}
  .user-icon {
    font-size: 35px;
    color: #FDCDE7;
}
.user_name {
  font-size: 12px;
  font-weight: 700;
  color: #496333;
}
  .club-icon {
    padding-right: 1px;
    padding-left: 1px;
    font-size: 10px;
    color: #F61C7A;
  }
  span.club-inf {
    font-size: 10px;
    font-weight: 600;
    color: #979797;
}
.risk-btn {
  font-size: 9px;
  padding: 6px 4px;
  color: #03314B;
  border-radius: 2px;
  background: #DEF4FF;
}
.risks-btn {
  padding: 5px;
  color: #03314B;
  border-radius: 5px;
  background: #FDCDE7;
  font-size: 12px;
}
.position-btn {
  padding: 6px;
  color: black;
  border-radius: 5px;
  background: #FDCDE7;
  font-size: 10px;
}
.price {
  font-size: 10px;
  font-weight: 600;
  color: #03314B;
  padding: 0 !important;
  margin: 0 !important;
}
.prices {
  font-size: 9px;
  font-weight: 600;
  color: #496333;
  margin: 0;
}
.card-title {
  padding: 20px 0 15px 0;
  font-size: 12px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}
.trending-name {
  font-size: 12px;
}
span.title-name {
  font-size: 12px;
  font-weight: 600;
  color: black;
}
.hashtag-line {
  font-size: 12px;
  color: #4D455D;
}
.hashtag {
  font-size: 12px;
  color: #0081C9;
}
.pagetitle h1 {
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}
.channel-name {
  font-size: 11px;
  font-weight: 600;
  color: #F61C7A;
}
.fol {
  font-size: 12px;
}
h6.heading {
  font-size: 13px;
  font-weight: 600;
  color: #496333;
  margin: 0;
  padding: 0;
}
span.subscript {
  padding: 6px;
  border: 2px solid #FFD859;
  border-radius: 36px;
  font-size: 9px;
  font-weight: 600;
}
.club-dis {
  font-size: 10px;
  color: #496333;
  font-weight: 600;
}
.heading-line{
  color: #4D455D;
    font-size: 15px;
}
.user-icon {
  font-size: 35px;
  color: #FDCDE7;
}
.select-icon {
  font-size: 16px;
  color: #F61C7A;
}
.primary-btn {
  font-size: 10px;
}
.date {
  font-size: 10px;
  font-weight: 400;
  color: #979797;
}
.expect {
  font-size: 10px;
  font-weight: 500;
  color: #979797;
}
.expect-percent {
  font-size: 13px;
  font-weight: 500;
  color: #E6A376;
}
.rate {
  font-size: 13px;
  font-weight: 400;
  color: #E6A376;
}
span.line {
  font-weight: 500;
  font-size: 12px;
  color: #E6A376;
}
}


@media screen and (min-width: 500px) and (max-width: 769px) {
  .danger-btn {
    font-size: 14px;
}
  .club-icon {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 14px;
    color: #F61C7A;
}
span.club-inf {
  font-size: 12px;
  font-weight: 600;
  color: #979797;
}
.risk-btn {
  font-size: 12px;
  padding: 14px 10px;
  color: #03314B;
  border-radius: 5px;
  background: #DEF4FF;
}
.price {
  font-size: 14px;
  font-weight: 600;
  color: #03314B;
  padding: 0 !important;
  margin: 0 !important;
}
.card-title {
  padding: 20px 0 15px 0;
  font-size: 14px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .club-icon {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 14px;
    color: #F61C7A;
  }
  span.club-inf {
    font-size: 12px;
    font-weight: 600;
    color: #979797;
  }
  .price {
    font-size: 14px;
    font-weight: 600;
    color: #03314B;
    padding: 0 !important;
    margin: 0 !important;
  }
  .card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}
}

.club-block{
pointer-events: none;
}
.club{
pointer-events: all;
}
