<div class="container ">
    <div class="row ">
        <div class="col-lg-10 mx-auto my-5">
            <div class="card list-card">
                <div class="card-body">
                    <h1>Legal Disclamer</h1>
                    <p>
                        <br><br>
                        The terms "You" / "Your" / "Yourself" relate to the users and the terms "We" / "Us" / "Our" /
                        "Company" / "The Company" individually and together refer to Expert Invester. The Expert
                        Invester website and its mobile apps for iOS and Android are referred to as "Website" and "App"
                        both individually and collectively. You agree to the following Legal Disclaimer notice by
                        registering on the website and accepting its Terms of Use and Privacy Policy:<br><br>
                        - You acknowledge that you solely bear all risk associated with using Expert Invester, the
                        program, and its services. The service is not guaranteed to be uninterrupted, error-free, or
                        impervious to malicious activity by the Website, its affiliates, employees, or third-party
                        content suppliers. Also, they do not guarantee that you will receive the precise outcomes that
                        the website or product intended or promised.<br><br>
                        - There are no express or implied warranties or promises made about the outcomes that would
                        arise from using the website or the application; they are supplied "AS IS." Warranties are just
                        indicative and subject to modification or variation based on your usage, in the event of an
                        emergency, or in the event of unavoidable technical issues.<br><br>
                        In no event shall the Website, or any individual, group, or other third party involved in the
                        development, production, or distribution of the content on the website and the application, be
                        liable in contract or in law for any damages, including but not limited to direct, indirect,
                        incidental, special, or consequential incurred by you while using the Website. You agree that
                        the terms specified in this section will apply to all uses of the content on the website and the
                        application by registering on the website or downloading the application.<br><br>
                        The above limitation of liability applies to any losses or harm brought on by any breach of
                        contract, negligence, or other product liability, or by any failure of performance, mistake,
                        omission, inaccuracy, interruption, deletion, delay, defect in operation or transmission,
                        computer virus attack, communication line failure, loss or theft, or unauthorized access to,
                        alteration of, or use of this website.
                        <br><br>
                        You expressly recognize that the risk of harm from the foregoing rests fully with you and that
                        Company is not responsible for any form of defamatory, offensive, or unlawful behavior by other
                        users or third parties or their material.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
