<main class="main mx-auto">
    <div class="pagetitle" style="width: 70%;">
        <h1 class="px-3 "><i class="bi bi-arrow-left px-2" ></i>Profile</h1>
    </div><!-- End Page Title -->
    <section class="container profile ">
        <div class="row">
            <div class="col-lg-4">
                <form >
                    <div class="card list-card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <!-- <img src="assets/img/user2.png" alt="Profile" class="rounded-circle"> -->

                            <div class="d-flex">
                                <div class="profile-img d-flex justify-content-center">
                                    <img 
                                        src="assets/img/user2.png" alt="" class="rounded-circle">
                                 

                                </div>
                                <div class="edit-icon">
                                    <label for="file-input">
                                        <i class="fas fa-edit"></i>
                                    </label>
                                    <input id="file-input" type="file"
                                        class="cstm-file">
                                </div>
                            </div>
                            <!-- <h6>{{model.name}}</h6>
                            <h3>{{model.userType}}</h3> -->
                          
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-8">
                <div class="card list-card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Overview</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>
                            <!-- <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                              </li>
                              <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                              </li> -->
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">About</h5>
                                <!-- <p class="small fst-italic">{{model.aboutUs}}</p> -->
                                <h5 class="card-title">Profile Details</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <!-- <div class="col-lg-9 col-md-8 labels ">{{model.name}}</div> -->
                                </div>
                                <!-- <div class="row">
                                  <div class="col-lg-3 col-md-4 label">Company</div>
                                  <div class="col-lg-9 col-md-8 labels">Lueilwitz, Wisoky and Leuschke</div>
                                </div> -->
                                <!-- <div class="row">
                                  <div class="col-lg-3 col-md-4 label">Job</div>
                                  <div class="col-lg-9 col-md-8 labels">Web Designer</div>
                                </div> -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Country</div>
                                    <!-- <div class="col-lg-9 col-md-8 labels">{{model.expertType}}</div> -->
                                </div>
                                <!-- <div class="row">
                                  <div class="col-lg-3 col-md-4 label">Address</div>
                                  <div class="col-lg-9 col-md-8 labels">A108 Adam Street, New York, NY 535022</div>
                                </div> -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Phone</div>
                                    <!-- <div class="col-lg-9 col-md-8 labels">{{model.mobileno}}</div> -->
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <!-- <div class="col-lg-9 col-md-8 labels">{{model.email}}</div> -->
                                </div>
                            </div>
                            
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
