<section class="container my-5">
    <div class="row">
      <div class="col-lg-10 mx-auto">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Investor-Form</h5>

            <!-- General Form Elements -->
            <form>
              <div class="row">
                <div class="col-lg-6">
                  <div class="row mb-3">
                  <label for="inputText" class="col-lg-4 col-form-label form-line"><i class="bi bi-person px-2"></i>User Name</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail" class="col-lg-4 col-form-label form-line"><i class="bi bi-envelope px-2"></i>Email</label>
                  <div class="col-lg-8">
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-lg-4 col-form-label form-line"><i class="bi bi-database px-2"></i>Experience</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-lg-4 col-form-label form-line"><i class="bi bi-person-video3 px-2"></i>I Want idea on </label>
                  <div class="col-lg-8">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
              </div>
                <div class="col-lg-6">
                  <div class="row mb-3">
                  <label for="inputPassword" class="col-lg-4 col-form-label form-line"><i class="bi bi-pencil px-2"></i>About Us</label>
                  <div class="col-lg-8">
                    <textarea class="form-control" style="height: 100px"></textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-lg-4 col-form-label form-line"><i class="bi bi-explicit px-2"></i>I am advice in </label>
                  <div class="col-lg-8">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>

              <div class="row mb-3">
                <label for="inputNumber" class="col-lg-4 col-form-label form-line"><i class="bi bi-book px-2"></i>Knowledge Level</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              </div>
              </div>
              <div class="row mb-3 mt-3">
                <div class="col-lg-6 mx-auto">
                  <button class="btn btn-primary w-100 " (click)="goToHomePage()">Submit</button>
                </div>
              </div>

            </form>

          </div>
        </div>

      </div>
    </div>
  </section>
