
<aside class="sidebar" id="sidebar-connection" *ngIf="hide" >
    <ul class="sidebar-nav" >
      <li class="nav-heading">Home</li>
      <li class="nav-item">
        <a class="nav-link collapsed"  routerLink="feed">
          <i class="bi bi-rss"></i>
               <span>Feed</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  routerLink="club">
          <i class="bi bi-exclude"></i>
          <span>Club</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  routerLink="channel">
          <i class="bi bi-diagram-3"></i>
          <span>Channel</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="club-list">
              <i class="bi bi-circle"></i><span>Club List</span>
            </a>
          </li>
          <li>
            <a routerLink="list">
              <i class="bi bi-circle"></i><span>List</span>
            </a>
          </li>
          <li>
            <a routerLink="add-trade">
              <i class="bi bi-circle"></i><span>Add Trades</span>
            </a>
          </li>

          <li>
            <a routerLink="trades">
              <i class="bi bi-circle"></i><span>Trades</span>
            </a>
          </li>
          <li>
            <a routerLink="feed-club">
              <i class="bi bi-circle"></i><span>Feed-Club
              </span>
            </a>
          </li>
          <!-- <li>
            <a href="components-pagination.html" class="active">
              <i class="bi bi-circle"></i><span>Upgraded plans</span>
            </a>
          </li> -->
        </ul>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>Expert-Form</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <i class="bi bi-circle"></i><span>Investor-Form
              </span>
            </a>
          </li>
          <li>
            <a href="forms-editors.html">
              <i class="bi bi-circle"></i><span>Investor-Expert-form</span>
            </a>
          </li>
          <li>
            <a href="forms-validation.html">
              <i class="bi bi-circle"></i><span>Add-Channel</span>
            </a>
          </li>
        </ul>
      </li> -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed"  routerLink="profile-page">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" routerLink="faq">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li> -->
      <!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="contact">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" routerLink="legal-disclamer">
          <i class="bi bi-card-list"></i>
          <span>Legal Disclamer</span>
        </a>
      </li> -->
<!--
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="terms">
          <i class="bi bi-card-list"></i>
          <span>Terms and Conditions</span>
        </a>
      </li> -->
      <!-- End Login Page Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" routerLink="privacy-policy">
          <i class="bi bi-card-list"></i>
          <span>Privacy Policy</span>
        </a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" routerLink="terms-services">
          <i class="bi bi-card-list"></i>
          <span>Terms and Services</span>
        </a>
      </li> -->
      <!-- End Setup PIN Page Nav -->

    </ul>

  </aside>
